body {
  margin: 0;
  background: #193549;
  color: ■white;
}
.container {
  width: 1200px;
  margin: auto;
  font-size: 1.2em;
}
header {
  height: 80px;
  background: slategray;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
main {
  display: grid;
  grid-template-columns: auto 300px;
  min-height: 400px;
}
main > article {
  background: lightgrey;
}
main > aside {
  background: indianred;
}
footer {
  background: bisque;
  height: 45px;
  color: brown;
  line-height: 45px;
}

.MotSach {
  padding: 20px;
  border: 1px solid #333;
  margin: 10px;
  border-radius: 4px;
  transition: all 0.5s ease-in;
}

.MotSach.liked {
  color: #fff;
  background-color: #193549;
}

.sach-thumbnail {
  width: 150px;
  border-radius: 4px;
}

.gia {}