body {
  margin: 0;
  background: #193549;
  color: ■white;
}
.container {
  width: 1200px;
  margin: auto;
  font-size: 1.2em;
}
header {
  height: 80px;
  background: Oslategray;
  position: relative;
}
main {
  display: grid;
  grid-template-columns: auto 300px;
  min-height: 400px;
}
main > article {
  background: lightgrey;
}
main > aside {
  background: indianred;
}
footer {
  background: bisque;
  height: 45px;
  color: brown;
  line-height: 45px;
}
